.input-tamanho{
    margin-top: 50px;
    margin-bottom: 20px;
}

.input-espaco{
    margin-bottom: 20px;
    
}

body{
    Background-image: Linear-gradient(To right, #1a1c20 , #222831);
    overflow-x: auto;

}

.cor input {
    max-width: 35%;
    text-align: center;
    margin-left: 35%;
 
}



